<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En-tête Latéral</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<header class="sidebar-header">
    <h1>Mon En-tête Latéral</h1>
    <!-- Ajoutez d'autres éléments d'en-tête ici si nécessaire -->
</header>

<body>
    <div class="main-content">
        <div class="content-header">
            <div class="content-header-container">
                <div class="container">
                    <h4>Status de la borne</h4>
                    <div class="container-statusIcon">
                        {{arcade_status_svg | safe}}
                    </div>
                    <div class="container-status">
                        <p>{{arcade_status_text}}</p>
                    </div>
                </div>
                <div class="container">
                    <h4>Status des dépôts</h4>
                    <div class="container-statusIcon">
                        {{upload_status_svg | safe}}
                    </div>
                    <div class="container-status">
                        <p>{{upload_status_text}}</p>
                    </div>
                </div>
                <div class="container">
                    <h4>Téléverser un jeu</h4>
                    <div class="container-statusIcon">
                        <svg width="135" height="135" viewBox="0 0 135 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M67.5 130C32.9822 130 5 102.018 5 67.5C5 32.9822 32.9822 5 67.5 5" stroke="#4ECB71" stroke-width="10" stroke-linecap="round"/>
                            <path d="M67.5 5C102.018 5 130 32.9822 130 67.5C130 102.018 102.018 130 67.5 130" stroke="#4ECB71" stroke-width="10" stroke-linecap="round"/>
                            <path d="M67.5 95.2778V43.1945" stroke="#4ECB71" stroke-width="10" stroke-linecap="round"/>
                            <path d="M91.8056 67.5L67.5 43.1945L43.1945 67.5" stroke="#4ECB71" stroke-width="10" stroke-linecap="round"/>
                            </svg>
                    </div>
                    <div class="container-status">
                        <p>Téléverser un Jeu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
