<div style="display: flex; flex-direction: column;justify-content: center;height: 100vh;width: 100vw;">
    <div id="homeBG" style="text-align: center;">
        <img src="./style/images/logopixelsmmi_noir.png" alt="">
        <form action="/list" method="post">
            <button id="boutonMenu" class="button rounded transparent clignotant" type="submit">
                <svg width="674" height="67" viewBox="0 0 674 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_53_10752)">
                    <path d="M674.019 36.5975H665.568V46.7214H674.019V36.5975Z" fill="#469CD0"/>
                    <path d="M674.019 36.5975H665.568V39.9908H674.019V36.5975Z" fill="#469CD0"/>
                    <path d="M674.019 29.8669H665.568V39.9908H674.019V29.8669Z" fill="#469CD0"/>
                    <path d="M674.019 19.715H665.568V29.8669H674.019V19.715Z" fill="#469CD0"/>
                    <path d="M665.568 46.7214H657.099V56.8733H665.568V46.7214Z" fill="#469CD0"/>
                    <path d="M665.568 36.5975H657.099V46.7214H665.568V36.5975Z" fill="#469CD0"/>
                    <path d="M665.568 36.5975H657.099V39.9908H665.568V36.5975Z" fill="#469CD0"/>
                    <path d="M665.568 29.8669H657.099V39.9908H665.568V29.8669Z" fill="#469CD0"/>
                    <path d="M665.568 19.715H657.099V29.8669H665.568V19.715Z" fill="#469CD0"/>
                    <path d="M665.568 9.56301H657.099V19.7149H665.568V9.56301Z" fill="#469CD0"/>
                    <path d="M657.099 46.7214H648.629V56.8733H657.099V46.7214Z" fill="#469CD0"/>
                    <path d="M657.099 36.5975H648.629V46.7214H657.099V36.5975Z" fill="#469CD0"/>
                    <path d="M657.099 36.5975H648.629V39.9908H657.099V36.5975Z" fill="#469CD0"/>
                    <path d="M657.099 29.8669H648.629V39.9908H657.099V29.8669Z" fill="#469CD0"/>
                    <path d="M657.099 19.715H648.629V29.8669H657.099V19.715Z" fill="#469CD0"/>
                    <path d="M657.099 9.56301H648.629V19.7149H657.099V9.56301Z" fill="#469CD0"/>
                    <path d="M648.629 46.7214H640.178V56.8733H648.629V46.7214Z" fill="#469CD0"/>
                    <path d="M648.629 36.5975H640.178V46.7214H648.629V36.5975Z" fill="#469CD0"/>
                    <path d="M648.629 36.5975H640.178V39.9908H648.629V36.5975Z" fill="#469CD0"/>
                    <path d="M648.629 29.8669H640.178V39.9908H648.629V29.8669Z" fill="#469CD0"/>
                    <path d="M648.629 19.715H640.178V29.8669H648.629V19.715Z" fill="#469CD0"/>
                    <path d="M648.629 9.56301H640.178V19.7149H648.629V9.56301Z" fill="#469CD0"/>
                    <path d="M640.178 46.7214H631.708V56.8733H640.178V46.7214Z" fill="#469CD0"/>
                    <path d="M640.178 36.5975H631.708V46.7214H640.178V36.5975Z" fill="#469CD0"/>
                    <path d="M640.178 36.5975H631.708V39.9908H640.178V36.5975Z" fill="#469CD0"/>
                    <path d="M640.178 29.8669H631.708V39.9908H640.178V29.8669Z" fill="#469CD0"/>
                    <path d="M640.178 19.715H631.708V29.8669H640.178V19.715Z" fill="#469CD0"/>
                    <path d="M640.178 9.56301H631.708V19.7149H640.178V9.56301Z" fill="#469CD0"/>
                    <path d="M631.728 46.7214H623.277V56.8733H631.728V46.7214Z" fill="#469CD0"/>
                    <path d="M631.728 36.5975H623.277V46.7214H631.728V36.5975Z" fill="#469CD0"/>
                    <path d="M631.728 36.5975H623.277V39.9908H631.728V36.5975Z" fill="#469CD0"/>
                    <path d="M631.728 29.8669H623.277V39.9908H631.728V29.8669Z" fill="#469CD0"/>
                    <path d="M631.728 19.715H623.277V29.8669H631.728V19.715Z" fill="#469CD0"/>
                    <path d="M631.728 9.56301H623.277V19.7149H631.728V9.56301Z" fill="#469CD0"/>
                    <path d="M623.277 46.7214H614.807V56.8733H623.277V46.7214Z" fill="#469CD0"/>
                    <path d="M623.277 36.5975H614.807V46.7214H623.277V36.5975Z" fill="#469CD0"/>
                    <path d="M623.277 36.5975H614.807V39.9908H623.277V36.5975Z" fill="#469CD0"/>
                    <path d="M623.277 29.8669H614.807V39.9908H623.277V29.8669Z" fill="#469CD0"/>
                    <path d="M623.277 19.715H614.807V29.8669H623.277V19.715Z" fill="#469CD0"/>
                    <path d="M623.277 9.56301H614.807V19.7149H623.277V9.56301Z" fill="#469CD0"/>
                    <path d="M614.807 46.7214H59.212V56.8733H614.807V46.7214Z" fill="#469CD0"/>
                    <path d="M614.807 36.5975H59.212V46.7214H614.807V36.5975Z" fill="#469CD0"/>
                    <path d="M614.807 36.5975H59.212V39.9908H614.807V36.5975Z" fill="#469CD0"/>
                    <path d="M614.807 29.8669H59.212V39.9908H614.807V29.8669Z" fill="#469CD0"/>
                    <path d="M614.807 19.715H59.212V29.8669H614.807V19.715Z" fill="#469CD0"/>
                    <path d="M614.807 9.56301H59.212V19.7149H614.807V9.56301Z" fill="#469CD0"/>
                    <path d="M59.212 46.7214H50.7613V56.8733H59.212V46.7214Z" fill="#469CD0"/>
                    <path d="M59.212 36.5975H50.7613V46.7214H59.212V36.5975Z" fill="#469CD0"/>
                    <path d="M59.212 36.5975H50.7613V39.9908H59.212V36.5975Z" fill="#469CD0"/>
                    <path d="M59.212 29.8669H50.7613V39.9908H59.212V29.8669Z" fill="#469CD0"/>
                    <path d="M59.212 19.715H50.7613V29.8669H59.212V19.715Z" fill="#469CD0"/>
                    <path d="M59.212 9.56301H50.7613V19.7149H59.212V9.56301Z" fill="#469CD0"/>
                    <path d="M50.7613 46.7214H42.2916V56.8733H50.7613V46.7214Z" fill="#469CD0"/>
                    <path d="M50.7613 36.5975H42.2916V46.7214H50.7613V36.5975Z" fill="#469CD0"/>
                    <path d="M50.7613 36.5975H42.2916V39.9908H50.7613V36.5975Z" fill="#469CD0"/>
                    <path d="M50.7613 29.8669H42.2916V39.9908H50.7613V29.8669Z" fill="#469CD0"/>
                    <path d="M50.7613 19.715H42.2916V29.8669H50.7613V19.715Z" fill="#469CD0"/>
                    <path d="M50.7613 9.56301H42.2916V19.7149H50.7613V9.56301Z" fill="#469CD0"/>
                    <path d="M42.2915 46.7214H33.8408V56.8733H42.2915V46.7214Z" fill="#469CD0"/>
                    <path d="M42.2915 36.5975H33.8408V46.7214H42.2915V36.5975Z" fill="#469CD0"/>
                    <path d="M42.2915 36.5975H33.8408V39.9908H42.2915V36.5975Z" fill="#469CD0"/>
                    <path d="M42.2915 29.8669H33.8408V39.9908H42.2915V29.8669Z" fill="#469CD0"/>
                    <path d="M42.2915 19.715H33.8408V29.8669H42.2915V19.715Z" fill="#469CD0"/>
                    <path d="M42.2915 9.56301H33.8408V19.7149H42.2915V9.56301Z" fill="#469CD0"/>
                    <path d="M33.8599 46.7214H25.3901V56.8733H33.8599V46.7214Z" fill="#469CD0"/>
                    <path d="M33.8599 36.5975H25.3901V46.7214H33.8599V36.5975Z" fill="#469CD0"/>
                    <path d="M33.8599 36.5975H25.3901V39.9908H33.8599V36.5975Z" fill="#469CD0"/>
                    <path d="M33.8599 29.8669H25.3901V39.9908H33.8599V29.8669Z" fill="#469CD0"/>
                    <path d="M33.8599 19.715H25.3901V29.8669H33.8599V19.715Z" fill="#469CD0"/>
                    <path d="M33.8599 9.56301H25.3901V19.7149H33.8599V9.56301Z" fill="#469CD0"/>
                    <path d="M25.3901 46.7214H16.9204V56.8733H25.3901V46.7214Z" fill="#469CD0"/>
                    <path d="M653.901 56.0881H600.342V66.24H653.901V56.0881Z" fill="#469CD0"/>
                    <path d="M600.342 56.0881H71.7357V66.24H600.342V56.0881Z" fill="#469CD0"/>
                    <path d="M71.7357 56.0881H18.0244V66.24H71.7357V56.0881Z" fill="#469CD0"/>
                    <path d="M653.901 0H600.342V10.1519H653.901V0Z" fill="#469CD0"/>
                    <path d="M600.342 0H71.7357V10.1519H600.342V0Z" fill="#469CD0"/>
                    <path d="M71.7357 0H18.0244V10.1519H71.7357V0Z" fill="#469CD0"/>
                    <path d="M25.3901 36.5975H16.9204V46.7214H25.3901V36.5975Z" fill="#469CD0"/>
                    <path d="M25.3901 36.5975H16.9204V39.9908H25.3901V36.5975Z" fill="#469CD0"/>
                    <path d="M25.3901 29.8669H16.9204V39.9908H25.3901V29.8669Z" fill="#469CD0"/>
                    <path d="M25.3901 19.715H16.9204V29.8669H25.3901V19.715Z" fill="#469CD0"/>
                    <path d="M25.3901 9.56301H16.9204V19.7149H25.3901V9.56301Z" fill="#469CD0"/>
                    <path d="M16.9204 46.7214H8.46973V56.8733H16.9204V46.7214Z" fill="#469CD0"/>
                    <path d="M16.9204 36.5975H8.46973V46.7214H16.9204V36.5975Z" fill="#469CD0"/>
                    <path d="M16.9204 36.5975H8.46973V39.9908H16.9204V36.5975Z" fill="#469CD0"/>
                    <path d="M16.9204 29.8669H8.46973V39.9908H16.9204V29.8669Z" fill="#469CD0"/>
                    <path d="M16.9204 19.715H8.46973V29.8669H16.9204V19.715Z" fill="#469CD0"/>
                    <path d="M16.9204 9.56301H8.46973V19.7149H16.9204V9.56301Z" fill="#469CD0"/>
                    <path d="M8.46973 36.5975H0V46.7214H8.46973V36.5975Z" fill="#469CD0"/>
                    <path d="M8.46973 36.5975H0V39.9908H8.46973V36.5975Z" fill="#469CD0"/>
                    <path d="M8.46973 29.8669H0V39.9908H8.46973V29.8669Z" fill="#469CD0"/>
                    <path d="M8.46973 19.715H0V29.8669H8.46973V19.715Z" fill="#469CD0"/>
                    </g>
                    <g filter="url(#filter0_d_53_10752)">
                    <path d="M56.8 38.2V48H47V25.95H49.45V23.5H64.15H71.5V25.95H73.95V48H64.15V38.2H56.8ZM56.8 28.4V33.3H64.15V28.4H56.8ZM86.1809 38.2V48H76.3809V23.5H86.1809H93.5309H100.881V25.95H103.331V35.75H100.881V38.2H86.1809ZM86.1809 28.4V33.3H93.5309V28.4H86.1809ZM115.562 38.2V48H105.762V23.5H115.562H122.912H130.262V25.95H132.712V35.75H130.262V38.2H115.562ZM115.562 28.4V33.3H122.912V28.4H115.562ZM159.643 45.55V48H137.593V45.55H135.143V23.5H144.943V43.1H152.293V23.5H162.093V45.55H159.643ZM164.523 33.3V23.5H174.323V30.85H176.773V33.3H181.673V30.85H184.123V23.5H193.923V33.3H191.473V35.75H189.023V38.2H184.123V48H174.323V38.2H169.423V35.75H166.973V33.3H164.523ZM198.843 48V45.55H196.393V25.95H198.843V23.5H223.343V28.4H206.193V33.3H213.543V38.2H206.193V43.1H223.343V48H198.843ZM225.773 28.4V23.5H252.723V30.85H250.273V33.3H247.823V35.75H245.373V38.2H242.923V40.65H240.473V43.1H252.723V48H225.773V43.1H228.223V40.65H230.673V38.2H233.123V35.75H235.573V33.3H238.023V30.85H240.473V28.4H225.773ZM272.285 48V43.1H289.435V38.2H274.735V35.75H272.285V25.95H274.735V23.5H299.235V28.4H282.085V33.3H289.435H296.785V35.75H299.235V45.55H296.785V48H272.285ZM326.166 45.55V48H304.116V45.55H301.666V23.5H311.466V43.1H318.816V23.5H328.616V45.55H326.166ZM340.847 38.2V48H331.047V23.5H340.847H348.197H355.547V25.95H357.997V33.3H355.547V38.2H357.997V48H348.197V38.2H340.847ZM340.847 28.4V33.3H348.197V28.4H340.847ZM402.059 45.55V48H380.009V45.55H377.559V23.5H387.359V43.1H394.709V23.5H404.509V45.55H402.059ZM416.739 35.75V48H406.939V23.5H416.739V25.95H419.189V28.4H421.639V30.85H424.089V23.5H433.889V48H424.089V40.65H421.639V38.2H419.189V35.75H416.739ZM477.951 45.55V48H453.451V23.5H463.251H477.951V25.95H480.401V33.3H477.951V38.2H480.401V45.55H477.951ZM463.251 38.2V43.1H470.601V38.2H463.251ZM463.251 28.4V33.3H470.601V28.4H463.251ZM507.332 45.55V48H485.282V45.55H482.832V25.95H485.282V23.5H507.332V25.95H509.782V45.55H507.332ZM499.982 38.2V33.3V28.4H492.632V43.1H499.982V38.2ZM536.713 45.55V48H514.663V45.55H512.213V23.5H522.013V43.1H529.363V23.5H539.163V45.55H536.713ZM558.744 28.4V48H548.944V28.4H541.594V23.5H566.094V28.4H558.744ZM593.034 45.55V48H570.984V45.55H568.534V25.95H570.984V23.5H593.034V25.95H595.484V45.55H593.034ZM585.684 38.2V33.3V28.4H578.334V43.1H585.684V38.2ZM607.715 35.75V48H597.915V23.5H607.715V25.95H610.165V28.4H612.615V30.85H615.065V23.5H624.865V48H615.065V40.65H612.615V38.2H610.165V35.75H607.715Z" fill="white"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_53_10752" x="43" y="23.5" width="585.865" height="32.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_53_10752"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_53_10752" result="shape"/>
                    </filter>
                    <clipPath id="clip0_53_10752">
                    <rect width="674" height="66.24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>                    
            </button>
        </form>
    </div>
</div>