<video autoplay muted loop id="myVideo">
    <source src="video.mp4" type="video/mp4">
</video>

<div id="homeBG" class="flex">
    <form action="/list" method="post">
        <button id="boutonMenu" class="button rounded transparent" type="submit">
            Jouer !
        </button>
    </form>
</div>
<script src="scripts/home.js"></script>