<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
<% if (borneStatus == "home") { %>
    <%- include('home_menu') -%>
<% } else if (borneStatus == "listing") { %>
    <%- include('listing') -%>
<% } else if (borneStatus == "playing") { %>
    <%- include('game') -%>
<% } %>
</body>
<script>var borneStatus = <%- JSON.stringify(borneStatus) %></script>
<script src="/scripts/main.js"></script>
</html>