<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<% if (borneStatus == "home") { %>
    <%- include('home_menu') -%>
<% } else if (borneStatus == "listing") { %>
    <%- include('listing') -%>
<% } else if (borneStatus == "playing") { %>
    <%- include('game') -%>
<% } %>
<% if (popup == "on") { %>
<%- include('popup') }-%><%}%>
</body>
</html>