<ul>
        <% firstList.forEach(folder => { %>
                <li>
                        <div class="folder-div"><%= folder %></div>
                </li>
        <% }) %>
</ul>
<ul>
        <% secondList.forEach(folder => { %>
                <li>
                        <div class="folder-div"><%= folder %></div>
                </li>
        <% }) %>
</ul>
