<div class=flex>
    <ul class="row">
            <% firstList.forEach(folder => { %>
                    <li>
                            <div class="game-tile li1"><%= folder %></div>
                    </li>
            <% }) %>
    </ul>
    <ul class="row">
            <% secondList.forEach(folder => { %>
                    <li>
                            <div class="game-tile li2"><%= folder %></div>
                    </li>
            <% }) %>
    </ul>
</div>